.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    margin-left: 70%;
    color: white;
    
}
.contnav{
    background-color: black ;
   
}