.card{
    /* style={{marginTop:"30px",padding:"40px"}} */
    margin-top: 30px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.card > * {
    text-decoration: none;
    color: blue;
}
.cardcont{
    margin-bottom: 100px;
}